<?xml version="1.0"?>
<config>
	<modules>
		<BlackRock_ShippingAlert>
			<version>1.0</version>
		</BlackRock_ShippingAlert>
	</modules>
	<global>
		<helpers>
			<shippingalert>
				<class>BlackRock_ShippingAlert_Helper</class>
			</shippingalert>
		</helpers>
		<models>
			<shippingalert>
				<class>BlackRock_ShippingAlert_Model</class>
			</shippingalert>
		</models>
		<blocks>
			<shippingalert>
				<class>BlackRock_ShippingAlert_Block</class>
			</shippingalert>
		</blocks>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
                                <config>
                                    <children>
                                        <blackrock_options>
                                            <title>BlackRock Shipping Alert Options</title>
                                        </blackrock_options>
                                    </children>
                                </config>
                            </children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<module>
					<file>blackrock_shippingalert.xml</file>
				</module>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<layout>
            <updates>
                <shippingalert>
                    <file>blackrock_shippingalert.xml</file>
                </shippingalert>
            </updates>
        </layout>
	</frontend>
</config>